#img{
    border: none!important;
    transition: ease-in 2s;
}
.logo{
    color: #fff;
    text-align: center;
    font-size: 45px;
    font-family: Abril Fatface;
    padding-top: 30px;
    text-transform: capitalize;
    font-weight: bold;
}
.card{
    width:18rem;
    margin: 230px 40px 0 ; 
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2)!important;   
    background-color: rgba(255, 255, 255, .6)!important;
    backdrop-filter: blur(5px)!important;
}
.card2{
    width:100%;
    margin: 230px 0px 0; 
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2)!important;   
    background-color: rgba(255, 255, 255, .6)!important;
    backdrop-filter: blur(5px)!important;
    transition: ease-in 2s;
}
.card3{
    width:18rem;
    margin: 230px 40px 0 ; 
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2)!important;   
    background-color: rgba(255, 255, 255, .6)!important;
    backdrop-filter: blur(5px)!important;
    transition: ease-out 2s;
}
.card-title{
    text-transform: capitalize;
    font-family: Adobe Garamond Pro;
    text-align: center;
}
.card-text{
    font-family: Alegreya;
    color: #000;
    font-size: 18px;
}
.card-link{
    margin: 0px 90px 20px;
    font-family: Alegreya;
    text-transform: capitalize;
    color: #fff!important;
    background-color: #000!important;
    padding: 10px 20px;
    text-decoration: none;
}
.card-link:hover{
    color: #000;
    background-color: #fff;
    text-decoration: none!important;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .3)!important;   
}

form .form-group{
    margin: -20px 15px;
    width: 20rem;
    transition: width 5s!important;

}
input{
    margin: 0 10px !important;
    background-color: transparent!important;
    box-shadow: none!important;
    border: none!important;
    border-bottom: 1px solid #000!important;
    transition: width 5s!important;
}
::placeholder {
    color: rgb(65, 64, 64)!important;
  }
input[type="submit"]{
    margin-bottom: 20px 0!important;
}
label{
    margin: -20px 0 -30px!important;
}
#Help{
    color: rgb(153, 7, 7)!important;
}

.btn{
    margin: 0px 120px 10px!important;
    font-family: Alegreya;
    text-transform: capitalize;
    color: #fff!important;
    background-color: #000!important;
    padding: 10px 20px;
    text-decoration: none;

}
.btn:hover{
    color: #000;
    background-color: #fff;
    text-decoration: none!important;
    box-shadow: 4px 4px 1px 1px rgba(0, 0, 0, .3)!important;   
}
.page-title{
    margin-left: 15px;
    font-family: Adobe Garamond Pro;
    text-transform: capitalize;
}
hr{
    border: 1px #000 solid!important;
}
.subtitle{
    margin-left: 15px;
    margin-top: -10px;
    font-family: Alegreya;
}
.subview{
    margin-left: 15px;
    margin-top: -10px;
    font-family: Alegreya;
}
.women{
    margin: 30px;
}
.imgcard{
    z-index: 0;
    position: relative;
}
.cardbg{
    background-color: #000;
    width: 200px;
    padding: 15px 20px 0;
    margin-left: 20px; 
    margin-top: -80px;
    z-index: 1;
    position: absolute;
}
.cardtitle{
    font-family: Adobe Garamond Pro;
    text-transform: capitalize;
    color: #fff;
}
.cardtit{
    font-family: Alegreya;
    color: #fff;
    margin-top: -8px;
}
.item{
    background-color: #7070702f;
    padding:  10px;
    margin: 20px 15px;
}
.itemimg{
    margin: 5px 5px 5px 20px;
}
.itemtit{
    font-family: Adobe Garamond Pro;
    margin-top: 10px;
}
.itemp{
    font-family: Alegreya;
    margin: -5px 0 5px;
}
.itemprice{
    font-family: Adobe Garamond Pro;

}
.sale{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}